{% extends 'base.html.twig' %}

{% block title %} Catalog {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dist/themes/default/styleds.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="container"><h1>Catalog</h1></div>
    <div class="container">
        <div id="categories" style="color:white; background: orange;  float: left; "  class="column categories">`
            <img src="img/loading.gif">
        </div>
        <div id="goods" class="column" style="float: right">
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <table>
                {# table body #}
                {% for article in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ article.id }}</td>
                        <td>{{ article.name }}</td>
                    </tr>
                {% endfor %}
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/js/jstree.js') }}"></script>
    {#<script src="{{ asset('bundles/js/catalog_tree_2.js') }}" type="text/javascript"></script>#}
    <script>
        $('#categories').jstree({ 'core' : {
            'data' :
                    JSON.parse({{ answer|json_encode|raw }})
        } });
        $('#categories').on('select_node.jstree', function (e, data) {
            data.instance.toggle_node(data.node);
        });
    </script>
{% endblock %}

